{% extends 'base.html.twig' %}

{% block title %}Hello reader!{% endblock %}

{% block body %}
{#<style>#}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#</style>#}

    <div class="example-wrapper">
        <div class='postContainer'>
            <h1 class="postWelcome">Hello reader!</h1>
            <a class='a' href={{ path('app_logout') }}>
                <button class='postButton'> Logout </button>
            </a>
            <a class='a' href={{ path('post_create_new') }}>
                <button class='postButton'> + </button>
            </a>
        </div>
        {% for post in posts %}
                <div class="postCard">
                    <div class='postContainer'>
                        <div></div>
                        {% if post.author.id == app.user.id %}
                            <a class='a' href={{ path('post_edit', { 'id': post.id }) }}>
                                <div class='postTitle'>{{ post.title }}</div>
                            </a>
                        {% else %}
                                <div class='postTitle'>{{ post.title }}</div>
                        {% endif %}
                        <a  class='a' href={{ path('post_delete', { 'id': post.id }) }}>
                            {% if post.author.id == app.user.id %}
                                <button>Delete</button>
                            {% endif %}
                        </a>
                    </div>
                    {% if post.editAt is not null %}
                        <p class='postCreatedAt'>Edited at: {{ post.editAt|date('m/d/Y') }}</p>
                    {% else  %}
                        <p class='postCreatedAt'>Created at: {{ post.creationAt|date('m/d/Y') }}</p>
                    {%  endif %}
                    <p class="postContent">{{ post.content|raw }}</p>
                    <p class='postAuthor'>Written by: {{ post.author.username }}</p>
                </div>

        {% endfor %}
    </div>
{% endblock %}

