{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h1>{{ title}} post!</h1>
        {{ form_start(form) }}
        <p>{{ form_label(form.title) }}</p>

        <div>{{ form_widget(form.title, {'attr': {'class': 'formInput'}}) }}</div>
           <br>
            {{ form_label(form.content) }}
            <br>
            {{ form_widget(form.content, {'attr': {'class': 'tinyMCEInput'}}) }}
            <br><br>
            {{ form_label(form.category) }}
            <br>
            {{ form_widget(form.category, {'attr': {'class': 'categoryForm'}}) }}
            <br><br>
            <button type="submit">Save</button>
            <button type="reset">Reset</button>
        {{ form_end(form) }}

    </div>


{% endblock %}
